<div class="well">
  <h6 class="text-center">My Feed</h6>
  <table class="table borderless table-hover">
    <col width="10%">
    <col width="90%">
    <thead>
      <tr>
        <th><!--placeholder for image --></th>
        <th><!--placeholder for text --></th>
      </tr>
    </thead>
    <tbody>
      <% @user_data.home_timeline[0..10].each do |tweet| %>
        <tr>
          <td>
            <img src="<%= tweet.user.profile_image_url%>" alt="tweeter" class="img-rounded" />
          </td>
          <td>
            <p class="tweet-text-handle">@<strong><%= tweet.user.screen_name %></strong></p>
            <p class="tweet-text"><%= tweet.text %>
            <% if tweet.favorited? %>
              <%= link_to favorite_path(tweet.id), method: :delete, id: 'unfavorite' do %>
                <i class="glyphicon glyphicon-star"></i>
              <% end %>
            <% else %>
               <%= link_to favorites_path(tweet_id: tweet.id), method: :post, id: 'favorite' do %>
                  <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
            <%= link_to tweet_path(tweet.id) do %>
               <i class="glyphicon glyphicon-option-horizontal"></i>
               <% end %>
            <%= link_to follow_index_path(tweet.user.screen_name), method: :post do %>
            <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            <% end %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
