<div class="well">
  <h6 class="text-center">My Feed</h6>
  <table class="table borderless table-hover">
    <col width="10%">
    <col width="90%">
    <thead>
      <tr>
        <th><!--placeholder for image --></th>
        <th><!--placeholder for text --></th>
      </tr>
    </thead>
    <tbody>
      <% @tweets[0..1].each do |tweet| %>
        <tr>
          <td><img src="<%= tweet.user.profile_image_url%>" alt="tweeter" class="img-rounded" /></td>
          <td>
            <p class="tweet-text-handle">@<strong><%= tweet.user.screen_name %></strong></p>
            <p class="tweet-text"><%= tweet.text %>
            <% if tweet.favorited? %>
              <%= link_to favorite_path(tweet.id), method: :delete, id: 'unfavorite' do %>
                <i class="glyphicon glyphicon-star"></i>
              <% end %></p></td>
            <% else %>
               <%= link_to favorites_path(tweet_id: tweet.id), method: :post, id: 'favorite' do %>
                  <i class="glyphicon glyphicon-star-empty"></i>
               <% end %></p></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
