<div class="well">
  <div class="profile-img">
    <img class="img-rounded" src="<%= @user_data.user.profile_image_url %>" alt="profile" />
  </div>
  <h4><%= @user_data.user.name %><h4>
  <p class="mini">@<%= @user_data.user.screen_name %></p>

    <table class="table borderless">
      <thead>
        <tr>
          <th>Tweets</th>
          <th>Following</th>
          <th>Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= link_to @user_data.home_timeline.count, tweets_path, class: "table-number-links" %></td>
          <td><%= @user_data.following.count %></td>
          <td><%= @user_data.followers.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
