<!DOCTYPE html>
<html>
<head>
  <title>ApiTwitterCurious</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/shared/top_nav' %>

<% if current_page?('/') %>
  <%= yield %>
<% else %>
  <div class="container">
    <%= yield %>
  </div>
<% end %>

</body>
</html>
